.jumbotron
{
	background-color: #004d00;
	color:white;
}
#header
{
	background-color: #004d00;
	color:white;

}
#header2
{
	background-color: #004d00;
	color:white;

}
th 
{
	text-align:center;

}
.table
{
	text-align:center;
	
}

